/*--------Config da Sessão de Pacotes--------*/
.pacotes {
    position: relative;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0)0%,
    rgba(0, 0, 0, 0.9)100%), url(../midia/praia2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}
.tabela {
    padding: 80px 0;
}
.tabela h1{
    font-size: 2.8rem;
    font-weight: 200;
}
.tabela-pacotes {
    max-width: 800px;
    margin: auto;
    border-collapse: collapse;
    font-size: 1.1rem;
    background-color: var(--color-blue);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.tabela-pacotes th,
.tabela-pacotes td {
    padding: 1rem;
    border-bottom: 1px solid var(--color-blue);
}

.tabela-pacotes thead {
    background-color: var(--color-table-head);
}

.tabela-pacotes tbody tr:hover {
    background-color: var(--color-table-body)
}
