/*--------Config da Sessão Sobre Nós--------*/
#descricao {
  transition: opacity 0.5s ease;
}
.sobre-nos {
    position: relative;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0)0%,
    rgba(0, 0, 0, 0.999)100%);
    min-height: 100vh;
}
.background-video {
    object-fit: cover;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
.foreground{
    height: 250px;
    width: 1000px;
}
.foreground h1{
    padding-bottom: .75rem;
}
.foreground p{
    padding-bottom: 0.5rem;
}