/*--------Configuração Global--------*/
*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --color-background: #111;
    --color-text: #fff;
    --color-brown: #8c540ac0;
    --color-button: #694207b2;
    --color-table-head: #0000004d;
    --color-table-body: #b46e2db2;
}
body {
    background-color: var(--color-background);
    color: var(--color-text);
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: var(--color-text);
}
h1 {
    font-size: 2.6rem;
    font-weight: 100;
}
/*--------Configuração da Barra de Navegação--------*/
.navbar {
    width: 100%;
    padding: 0.4rem;
    position: fixed;
    z-index: 1;
}
.navbar ul {
    list-style: none;
    font-size: 1.2rem;
    display: flex;
}
.navbar li {
    padding: 0.5rem 1rem;
}
.menu {
    margin-left: auto;
}
/*--------Configuração Padrão do Botão de Transição--------*/
.button{
    border-style: none;
    border-radius: 2rem;
    background-color: var(--color-button);
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    transition: 0.5s ease
}
button:hover {
    background-color: var(--color-brown);
    cursor: pointer;
}
/*--------Configuração Padrão do Conteudo de Texto--------*/
.foreground{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.foreground h1 {
    font-size: 3rem;
    font-weight: 100;
}
.foreground p {
    font-size: 1.4rem;
    font-weight: 100;
    padding: 0.25rem 12rem;
}
#botao-tema {
  font-size: 1.4rem;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}
body {
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.escuro {
  background-color: #121212;
  color: #f5f5f5;
}

.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

body.escuro .navbar {
  background-color: black;
}

li > button, li > button:hover{
    border-style: none;
    background-color: #00000000;
}